		.button {
		  background-color: #4CAF50;
		  border: none;
		  color: white;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  cursor: pointer;
		}
		.headbutton {
	background-color: skyblue;
	color: white;
    border: none;
    padding: 10px 20px;
	position: ; 
	cursor:pointer;
		}
#bodycontent {  
	background-color: #8B008B;
	color: white;

	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 30px 1px;
	cursor: pointer;
	overflow-wrap: break-word;

	
	
}