		.button {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
		.header-background{
			background-color:rgb(241, 128, 63);
			width: 100%;
			height: 3.7%;
		}
		
		.centerDiv {
			background-color: #a6d3f6;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			width: 100%;
			text-decoration: none;
			display: inline-block;
			font-size: 26px;
			margin: 4px 2px;
			cursor: pointer;
		}
		.headbutton {
			background-color: skyblue;
			color: white;
			border: none;
			padding: 10px 20px;
			position: relative;
			cursor:pointer;
			float:left;
		}
#bodycontent {  
	background-color: #8B008B;
	color: white;

	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 30px 1px;
	cursor: pointer;
	overflow-wrap: break-word;
}

    .error {
        color: red;
        font-weight: bold;
    }
	.rating-form {
		font-size: 20px;

	}        
	.rating-label {
		display: block;
		margin-bottom: 10px;
		color:rgb(255, 225, 0);
	}
	.description{
		font-size: 20px;
		text-align: left;
		color:black;
	}
	.movieName{
		font-size: 48px;
		text-align:center;
		color:dimgray;
	}
	.title{
		font-size: 36;
		text-align:center;
	}
	.comments{
		font-size: 15px;
		text-align: left;
		background-color: cadetblue;
		color: rgb(255, 255, 255);
	}
	.genreFont{
		font-size:24;
		text-align:center;
		color:black;
	}

	.buttons {
		width: 500px;
		margin: 0 auto;
		display: inline;}
		
	.action_btn {
		width: 100px;
		margin: 0 auto;
		display: inline;}
	.search-bar-container {
		margin-top: 10px;
		margin-bottom: 10px;
		justify-content: center;
	}
		
	.search-input {
		padding: 8px;
		font-size: 16px;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	
	.search-button {
		padding: 8px 16px;
		font-size: 16px;
		background-color: #4CAF50;
		color: white;
		border: 1px solid #4CAF50;
		border-radius: 4px;
		cursor: pointer;
	}
	.friend-comment {
		border: 1px solid #9479ec;
		padding: 10px;
		margin-bottom: 15px;
		background-color: #f8f8f8;
		border-radius: 8px;
	}
	
	.friend-comment p:first-child {
		font-weight: bold;
	}
	
	.comment-date {
		color: #777;
		font-size: 14px;
	}
	.add-friend-button{
		background-color: #a6d3f6;
		color:#090000;
		border-color:white;
		
	}

	

