		.button {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}
		.header-background{
			background-color:rgb(241, 128, 63);
			width: 100%;
			height: 3.7%;
		}
		
		.centerDiv {
			background-color: #eda8e3;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			width: 100%;
			text-decoration: none;
			display: inline-block;
			font-size: 26px;
			margin: 4px 2px;
			cursor: pointer;
		}
		.headbutton {
			background-color: skyblue;
			color: white;
			border: none;
			padding: 10px 20px;
			position: relative;
			cursor:pointer;
			float:left;
		}
#bodycontent {  
	background-color: #8B008B;
	color: white;

	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 30px 1px;
	cursor: pointer;
	overflow-wrap: break-word;
}

    .error {
        color: red;
        font-weight: bold;
    }
	.rating-form {
		font-size: 20px;

	}        
	.rating-label {
		display: block;
		margin-bottom: 10px;
		color:rgb(255, 225, 0);
	}
	.description{
		font-size: 30px;
		text-align: left;
		color:black;
	}
	.movieName{
		font-size: 48px;
		text-align:center;
		color:dimgray;
	}
	.title{
		font-size: 36;
		text-align:center;
	}
	.comments{
		font-size: 24px;
		text-align: left;
		color:	rgba(249, 0, 0, 0.495);
	}

	

